.App {
  text-align: center;
  background-color:green;
  }
  
  .label{
    display: inline-block;
    width: 80px; 
  }
  
  .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;  
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .container {
    width: 300px; /* Adjust width as needed */
    margin: 0 auto;
  }
  
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  }
  
  .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }